@import palette

$system-font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-sans-serif: "Rubik", "Poppins", "Open Sans", "Nunito Sans", $system-font
$body-bg: var(--body-bg)
$primary: $light-primary

$header-height: 90px

$outer-sidebar-width: $header-height
$outer-sidebar-bg: var(--body-bg)
$outer-sidebar-icon-size: $outer-sidebar-width * 0.4
$outer-sidebar-icon-inactive-color: #666
$outer-sidebar-icon-active-color: var(--primary)

$sidebar-width: 300px
$sidebar-bg: var(--surface-bg)
$sidebar-header-bg: var(--surface-bg)
$sidebar-border-color: var(--surface-border)
$sidebar-padding: 1.5rem
$sidebar-link-height: 50px
$sidebar-link-hover-bg: var(--surface-hover-bg)
$link-color: $primary

$vehicle-image-size: 250px

$notification-padding: 1rem 2rem 1rem 1.5rem
$notification-padding-ltr: 1rem 2rem 1rem 1.5rem